body{
  background-image: url(/html_formularios/img/wallpaperbetter.jpg);
}

div{
  font-size: 30px;
  display: flex;
  width: 40vw;
  height: 70vh;
  margin: 0 auto;
  backdrop-filter: blur(100px);
}

.index2{
  font-size: 30px;
  display: flex;
  width: 40vw;
  height: 100vh;
  margin: 0 auto;
  backdrop-filter: blur(100px);
}

form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: azure;
  text-align: center;
}

.datospersonales{
  color: azure;
  border-radius: 10px;
  width: 35vw;
  text-align: left;
}

.fiel{
  color: azure;
  border-radius: 10px;
  width: 35vw;
  text-align: center;
}

.idioma{
  color: azure;
  border-radius: 10px;
  width: 35vw;
  text-align: center;
}

.conector{
  color: azure;
  border-radius: 10px;
  width: 35vw;
  text-align: center;
}

.conector select{
  width: 15vw;
  background-color: rgb(212, 212, 212);
}

.textos{
  color: azure;
  border-radius: 10px;
  width: 35vw;
  text-align: left;
}

.textos input{
  border-radius: 10px;
  width: 15vw;
}

.sexo{
  color: azure;
  border-radius: 10px;
  width: 35vw;
  text-align: center;
}

.sexo select{
  border-radius: 10px;
  width: 15vw;
  height: 38px;
  text-align: center;
}

.fecha{
  color: azure;
  border-radius: 10px;
  width: 35vw;
  text-align: center;
}

.fecha input{
  border-radius: 10px;
  width: 15vw;
  text-align: center;
}

.sig_form{
  width: 40vw;
  text-decoration: none;
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
  border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}

.sig_form:hover{
  background-color: #008CBA;
  color: white;
}

.button{
  display: flex;
  width: 40vw;
  height: 6vh;
  margin: 0 auto;
  backdrop-filter: blur(100px);
}
